<table class="table table-borderless">
    <tbody>
    <tr>
        <th scope="row"><i class="fas fa-user"></i> Name</th>
        <td><%-user.name%></td>
    </tr>
    <tr>
        <th scope="row"><i class="fas fa-map-marker-alt"></i> Address</th>
        <td><%-user.address%></td>
    </tr>
    <tr>
        <th scope="row"><i class="fas fa-envelope-open-text"></i> Email</th>
        <td><%-user.email%></td>
    </tr>
    <tr>
        <th scope="row"><i class="fas fa-mobile-alt"></i> Phone</th>
        <td><%-user.phone%></td>
    </tr>
    <tr>
        <th scope="row"><i class="fas fa-birthday-cake"></i> D.O.B</th>
        <td><%-dob%></td>
    </tr>
    <tr>
        <th scope="row"><i class="fas fa-sign-in-alt"></i> Joined date</th>
        <td><%-joindate%></td>
    </tr>
    </tbody>
</table>