<div class="single-featured-post">
    <!-- Thumbnail -->
    <div class="post-thumbnail mb-50">
        <img src="<%-news.image%>" alt="">
        <a href="/news/<%-news.nid%>" class="video-play"><i class="fa fa-play"></i></a>
    </div>
    <!-- Post Contetnt -->
    <div class="post-content">
        <div class="post-meta">
            <a href="#"><%-news.created_date.toDateString()%></a>
            <a href="/category/<%-news.category%>"><%-news.name%></a>
        </div>
        <a href="/news/<%-news.nid%>" class="post-title"><%-news.title%></a>
        <p><%-news.abstract%></p>
    </div>
    <!-- Post Share Area -->
    <div class="post-share-area d-flex align-items-center justify-content-between">
        <!-- Post Meta -->
        <div class="post-meta pl-3">
            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> <%-news.views%></a>
            <a href="#"><i class="fa fa-comments" aria-hidden="true"></i> <%-news.total_cmt%></a>
        </div>
        <!-- Share Info -->
        <div class="share-info">
            <a href="#" class="sharebtn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            <!-- All Share Buttons -->
            <div class="all-share-btn d-flex">
                <a href="#" class="facebook"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"
                                                   aria-hidden="true"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>