<div><%- news.nid %></div>
<div><%- news.title %></div>
<div><%- news.abstract %></div>
<div><%- news.category %></div>
<div><%- news.image %></div>
<div><%- news.content %></div>
<div><%- news.status %></div>
<div><%- news.author %></div>
<div><%- news.type %></div>
<div><%- news.create_date %></div>
<div><%- news.managed_cate %></div>